.priority-filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 600px) {
  .priority-filter {
    display: block;
  }
}

.priority-filter__content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .priority-filter__buttons {
    display: flex;
  }
}

.priority-filter__content h5 {
  margin-bottom: 0.25em;
}

.priority-filter .button + .button {
  margin-left: 0.5em;
}
