.task {
  padding: 0.25em 0;
  margin: 0.25em 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--clr-gray9);
}

.task__details {
  flex: 1;
  margin: 0.25em;
  padding: 0.1em;
  overflow: auto;
  max-height: 9999px;
  transition: max-height 1s ease-in-out;
}

.task__details[aria-expanded="false"] {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.task--no-border {
  border-bottom: none;
}
