.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-prim5);
}

.login-page__error {
  width: 100%;
  background-color: var(--clr-err5);
  padding: 0.1em 1em;
  position: fixed;
  top: 0;
}

.login-page__error h3 {
  color: var(--clr-gray1);
  font-size: 0.8em;
}

.container {
  padding: 2em;
  border-radius: 2em;
  background-color: var(--clr-gray1);
  max-width: 320px;
  width: 60%;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2em;
    border-radius: 2em;
    background-color: var(--clr-gray1);
    max-width: 320px;
    width: 90%;
  }
}

.container__header {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.container__header h1 {
  text-align: center;
  color: var(--clr-prim3);
}

.container__bottom {
  margin-top: 1em;
  border-top: 1px solid black;
  padding-top: 0.5em;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__input {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form__input label {
  font-size: 0.9em;
}

.login-form__input label:focus-within {
  color: var(--clr-prim3);
}

.login-form__input input {
  margin-top: 0.15em;
  padding: 0.1em;
  border: 1px solid var(--clr-gray3);
  border-radius: 0.2em;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1.15em;
}

.login-form__input input:focus {
  border: 1px solid var(--clr-prim3);
}

.login-form__error {
  font-size: 0.9em;
  color: var(--clr-err3);
}
