.task-card {
  display: flex;
  align-content: center;
  padding: 0.5em;
  border-bottom: 1px solid transparent;
}

.task-card.task-card--active {
  border-bottom: 1px solid var(--clr-gray5);
}

.task-card__header {
  padding: 0.25em 0.75em 0.25em 0;
  display: flex;
  align-content: center;
}

.task-card--pointer {
  cursor: pointer;
}

.task-card__content {
  flex: 1;
  border-bottom: 1px solid transparent;
}

.task-card__completed-percent {
  margin-right: 0.25em;
  color: var(--clr-sec3);
}

.task-card:hover .task-card__content .task-card__name,
.task-card--active .task-card__name {
  color: var(--clr-prim2);
}

.task-card__actions {
  padding: 0.25em 0.2em;
  display: flex;
  align-items: center;
}

.task-card__date-section {
  display: flex;
  align-items: center;
}

.task-card__date {
  margin: 0 0.4em;
}

.task-card__date-section--overdue,
.task-card__date-section--overdue * {
  color: var(--clr-err3);
}
