.task-card {
  display: flex;
  align-content: center;
  padding-bottom: 0.5em;
}

.task-card__header {
  padding: 0.25em 0.75em 0.25em 0;
  display: flex;
  align-content: center;
}

.task-card--pointer {
  cursor: pointer;
}

.task-card__content {
  flex: 1;
}

.task-card__actions {
  padding: 0.25em 0.2em;
  display: flex;
  align-items: center;
}

.task-card__date-section {
  display: flex;
  align-items: center;
}

.task-card__date {
  margin: 0 0.4em;
}
