.task-card {
  display: flex;
  align-content: center;
  border-bottom: 1px solid transparent;
}

.task-card--background {
  background-color: var(--clr-gray7);
  border-radius: 0.5em;
}

.task-card--background:hover {
  background-color: var(--clr-gray6);
}

.task-card--background:active {
  background-color: var(--clr-gray5);
}

.task-card--border {
  border: 1px solid var(--clr-gray5);
}

.task-card--vertical-margin {
  margin: 0.5em 0;
}

.task-card__header {
  padding: 0.25em 0.75em 0.25em 0;
  display: flex;
  align-content: center;
}

.task-card__content {
  flex: 1;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.task-card__content--default-cursor {
  cursor: default;
}

@media screen and (max-width: 600px) {
  .task-card__content {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.task-card:hover .task-card__content .task-card__name {
  color: var(--clr-prim2);
}

.task-card__actions {
  padding: 0.25em 0.2em;
  display: flex;
  align-items: center;
}

.task-card__actions .icon-button + .icon-button {
  margin-left: 0.25em;
}

.task-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card__date-section {
  display: flex;
}

.task-card__date {
  margin: 0 0.4em;
}

.task-card__priority--important {
  color: var(--clr-war3);
}

.task-card__priority--urgent {
  color: var(--clr-err3);
}
