.step {
  display: flex;
  align-content: center;
}

@media screen and (max-width: 600px) {
  .step {
    flex-direction: column;
  }

  .step__actions {
    align-self: flex-end;
  }
}

.step__text,
.step__position {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.step__content {
  flex: 1;
  display: flex;
}

.step__position {
  font-weight: bold;
  margin-right: 0.4em;
  color: var(--clr-gray4);
}

.step__edit-form {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.3em;
}

.step__edit-form form {
  flex: 1;
}

.step__edit-cancel-button {
  margin-left: 0.5em;
}

.step__actions {
  padding: 0.25em 0 0.25em 0.75em;
  display: flex;
  align-content: center;
}
