.input-field,
.select {
  margin: 0.4em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select__select {
  display: block;
}

.input-field__label {
  font-size: 0.9em;
}

.input-field__label:focus-within {
  color: var(--clr-prim2);
}

.input-field__input,
.input-field__textarea {
  margin-top: 0.15em;
  padding: 0.1em;
  border: 1px solid var(--clr-gray7);
  border-radius: 0.2em;
  outline: none;
  display: block;
  font-size: 1.15em;
  background-color: var(--clr-gray7);
}

.input-field__input--fullwidth,
.input-field__textarea--fullwidth {
  width: 100%;
}

.input-field__input--light-border,
.input-field__textarea--light-border {
  border-color: var(--clr-gray5);
}

.input-field__input:focus,
.input-field__textarea:focus {
  border: 1px solid var(--clr-prim2);
}

.input-field__error {
  font-size: 0.9em;
  color: var(--clr-err3);
}
