.project-card {
  display: flex;
  align-items: center;
}

.project-card__name {
  flex: 1;
}

.project-card__author {
  font-size: 0.8em;
  color: var(--clr-sec2);
}

.project-card__actions {
  margin-left: 0.5em;
}

.project-card__name--primary {
  color: var(--clr-prim2);
}
