.tab-label {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--clr-gray9);
  flex: 1;
  padding: 0.2em;
}

.tab-label--active {
  border: 1px solid var(--clr-gray9);
  border-bottom: 1px solid transparent;
}

.tab-label:hover {
  border: 1px solid var(--clr-gray4);
  border-bottom: 1px solid var(--clr-gray9);
}

.tab-label--active:hover {
  border: 1px solid var(--clr-gray9);
  border-bottom: 1px solid transparent;
}

.tab-label h4 {
  text-align: center;
  border-bottom: 3px solid transparent;
  color: var(--clr-gray6);
}

.tab-label--active h4 {
  color: var(--clr-prim5);
}

.tab-label--active:hover h4 {
  color: var(--clr-prim4);
}
