.tab-label {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--clr-gray5);
  flex: 1;
  padding: 0.2em;
  border-radius: 0.5em 0.5em 0 0;
}

.tab-label--active {
  border: 1px solid var(--clr-gray5);
  border-bottom-color: transparent;
}

.tab-label h4 {
  text-align: center;
  border-bottom: 3px solid transparent;
}

.tab-label--active h4 {
  color: var(--clr-prim2);
}

.tab-label:hover {
  border: 1px solid var(--clr-gray6);
  border-bottom: 1px solid var(--clr-gray5);
}

.tab-label:hover h4 {
  color: var(--clr-prim1);
}

.tab-label--active:hover {
  border: 1px solid var(--clr-gray5);
  border-bottom: 1px solid transparent;
}

.tab-label--active:hover h4 {
  color: var(--clr-prim2);
}

.tab-label--single {
  cursor: auto;
}
