.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-page--fixed {
  position: fixed;
  top: 0;
  left: 50%;
}

@media screen and (max-width: 600px) {
  .loading-page {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
