.auth-container {
  padding: 2em;
  border-radius: 2em;
  background-color: var(--clr-gray1);
  max-width: 320px;
  width: 60%;
}

.auth-container__header {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.auth-container__header h1 {
  text-align: center;
  color: var(--clr-prim3);
}

.auth-container__bottom {
  margin-top: 1em;
  border-top: 1px solid black;
  padding-top: 0.5em;
}

@media screen and (max-width: 600px) {
  .auth-container {
    padding: 2em;
    border-radius: 2em;
    background-color: var(--clr-gray1);
    max-width: 320px;
    width: 90%;
  }
}
