.auth-container {
  padding: 2em;
  border-radius: 0.5em;
  background-color: var(--clr-gray8);
  max-width: 320px;
  width: 60%;
}

@media screen and (max-width: 600px) {
  .auth-container {
    width: 90%;
  }
}

.auth-container__header {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.auth-container__header h1 {
  text-align: center;
  color: var(--clr-prim2);
}

.auth-container__bottom {
  margin-top: 1em;
  border-top: 1px solid black;
  padding-top: 0.5em;
}

.auth-container .button,
.auth-container .loading-button {
  margin-top: 1em;
}
