.loading-button {
  background-color: var(--clr-gray3);
  color: var(--clr-gray1);
  font-size: 1.1em;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  border-color: transparent;
  cursor: default;
  border: 1px solid transparent;
  display: inline-block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-button__indicator {
  border: 0.2em solid var(--clr-gray1);
  border-top: 0.2em solid var(--clr-gray9);
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  animation: rotation 1s linear infinite;
}

.loading-button--primary {
  background-color: var(--clr-prim1);
}

.loading-button--primary .loading-button__indicator {
  border-top: 0.2em solid var(--clr-prim3);
}

.loading-button--secondary {
  background-color: var(--clr-sec1);
}

.loading-button--secondary .loading-button__indicator {
  border-top: 0.2em solid var(--clr-sec3);
}

.loading-button--error {
  background-color: var(--clr-err1);
}

.loading-button--error .loading-button__indicator {
  border-top: 0.2em solid var(--clr-err3);
}

.loading-button--warning {
  background-color: var(--clr-war1);
}

.loading-button--warning .loading-button__indicator {
  border-top: 0.2em solid var(--clr-war3);
}

.loading-button--success {
  background-color: var(--clr-suc1);
}

.loading-button--success .loading-button__indicator {
  border-top: 0.2em solid var(--clr-suc3);
}
