.all-tasks-page__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.all-tasks-page__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.all-tasks-page__current-month {
  margin: 0 0.4em;
  font-size: 1.2em;
  flex-basis: 9em;
  text-align: center;
  color: var(--clr-gray3);
}
