.edit-task {
  margin-bottom: 0.5em;
}

.edit-task__cancel {
  display: flex;
  justify-content: flex-end;
}

.edit-task__header {
  display: flex;
}

.edit-task__header-text {
  flex: 1;
}

.edit-task__delete-button {
  margin-right: 0.5em;
}
