.edit-task {
  background-color: var(--clr-gray7);
  padding: 0.5em;
  border-radius: 0.5em;
}

.edit-task__cancel {
  display: flex;
  justify-content: flex-end;
}

.edit-task__header {
  display: flex;
  align-items: center;
}

.edit-task__header-text {
  flex: 1;
}

.edit-task__delete-button {
  margin-right: 0.5em;
}
