.layout {
  background-color: var(--clr-gray1);
  min-height: calc(100vh - 4em);
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
}

.layout__content {
  display: flex;
  height: 100%;
  flex: 1;
}

.layout__page {
  width: 100%;
  height: 100%;
}

.layout__page--padding {
  padding: 1em;
}
