.loading-indicator {
  border: 0.2em solid transparent;
  border: 0.2em solid var(--clr-gray1);
  border-top: 0.2em solid var(--clr-prim2);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: rotation 1s linear infinite;
}

.loading-indicator--small {
  width: 1em;
  height: 1em;
}

.loading-indicator--light-circle {
  border: 0.2em solid var(--clr-gray1);
  border-top: 0.2em solid var(--clr-prim2);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
