.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal__content {
  width: 80%;
  max-width: 900px;
  max-height: 80%;
  padding: 0.5em;
  position: relative;
  border-radius: 0.5em;
  overflow: auto;
  background-color: var(--clr-gray8);
}

.modal__header {
  color: var(--clr-prim2);
}

.modal__close-button {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
}

@media screen and (max-width: 600px) {
  .modal__header {
    font-size: 1.2em;
  }

  .modal__content {
    width: 90%;
    max-height: 90%;
    padding: 0.25em;
  }

  .modal__close-button {
    position: fixed;
    top: 1em;
    right: 1em;
  }
}
