.navbar {
  background-color: var(--clr-prim3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-button {
  transition: background-color 0.1s ease;
  color: var(--clr-gray1);
  background-color: var(--clr-prim3);
  text-decoration: none;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  padding: 0.5em;
}
.navbar-button:active,
.navbar-button:hover {
  background-color: var(--clr-prim2);
}

.navbar__home {
  font-size: 1.25em;
}

.navbar__menu-icon {
  vertical-align: middle;
}
