.project-details__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .project-details__top {
    flex-direction: column;
    align-items: flex-start;
  }
}

.project-details__created-info {
  font-size: 0.8em;
  color: var(--clr-gray4);
}

.project-details__author-name {
  color: var(--clr-prim2);
}

.project-details__actions {
  align-self: flex-end;
}

.project-details__actions .icon-button + .icon-button {
  margin-left: 0.25em;
}

.project-details__header {
  font-size: 0.9em;
  color: var(--clr-gray3);
  margin-top: 0.5em;
  font-weight: normal;
}

.project-details__description {
  margin-bottom: 1.25em;
}
