.task-form__button {
  margin-top: 1em;
}

@media screen and (max-width: 600px) {
  .task-form__button {
    display: flex;
    justify-content: center;
  }
}

.task-form__button--center {
  display: flex;
  justify-content: center;
}

.task-form__date-time-container {
  display: flex;
}

.task-form__date-time-container .input-field {
  flex: 1;
}

.task-form__date-time-container .input-field + .input-field {
  align-self: flex-end;
  margin-left: 0.5em;
}
