.task-details__header {
  font-size: 0.9em;
  color: var(--clr-gray3);
  margin-top: 0.5em;
  font-weight: normal;
}

.task-details__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .task-details__top {
    flex-direction: column;
    align-items: flex-start;
  }
}

.task-details__actions {
  align-self: flex-end;
}

.task-details__actions .icon-button + .icon-button {
  margin-left: 0.25em;
}

.task-details__created-info,
.task-details__assignemnts,
.task-details__date-to-complete,
.task-details__completed-date {
  font-size: 0.8em;
  color: var(--clr-gray4);
}

.task-details__date-to-complete {
  display: flex;
  align-items: center;
}

.task-details__info-span + .task-details__info-span {
  margin-left: 0.5em;
}

.task-details__author-name {
  color: var(--clr-prim2);
}

.task-details__description {
  margin-bottom: 1.25em;
}

.task-details__project-list-item {
  background-color: var(--clr-gray7);
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 0.5em;
  cursor: pointer;
  border: 1px solid transparent;
}

.task-details__project-list-item:hover {
  background-color: var(--clr-gray6);
}

.task-details__project-list-item:active {
  background-color: var(--clr-gray5);
}

.task-details__project-list-item--selected {
  border-bottom-color: var(--clr-gray3);
}

.task-details__project-list-item--align-vertically {
  display: flex;
  align-items: center;
}

.task-details__project-list-item--align-vertically span {
  margin-left: 0.5em;
}
