.task-details {
  padding: 0.75em;
}

.task-details__assignemnts {
  font-size: 0.8em;
  color: var(--clr-gray4);
  margin-top: 0.5em;
}

.task-details__header {
  font-size: 0.9em;
  color: var(--clr-gray3);
  margin-top: 0.5em;
}

.task-details__created-info {
  font-size: 0.8em;
  color: var(--clr-gray4);
}

.task-details__author-name {
  color: var(--clr-prim4);
  font-weight: bold;
}

.task-details__description {
  margin-bottom: 1.25em;
}
