.task-steps {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.task-steps__add-steps {
  border-top: 1px solid var(--clr-gray5);
  padding-top: 0.75em;
  margin: 0.5em 0;
}

.task-steps__add-form {
  display: flex;
  justify-content: center;
}

.task-steps__form-button {
  margin-left: 0.5em;
}

.task-steps__header {
  display: flex;
}

.task-steps__header h4 {
  flex: 1;
}

.task-steps__completed {
  margin-right: 0.5em;
  color: var(--clr-sec3);
}

.task-steps__list {
  list-style-type: none;
}

.task-steps__list-item {
  display: flex;
  align-items: center;
}

.task-steps__list-item .step {
  flex: 1;
}

.task-steps__list-item--dragging {
  background-color: var(--clr-sec1);
}

.task-steps__drag-handle {
  display: inline-block;
  padding: 0.25em;
  cursor: pointer;
}

.task-steps__drag-icon {
  vertical-align: middle;
  color: transparent;
  transition: all 0.1s ease-in;
}

.task-steps__list-item:hover .task-steps__drag-icon {
  color: var(--clr-gray5);
}
