.task-steps {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.task-steps__add-steps {
  margin: 0.5em 0;
}

.task-steps__add-form {
  display: flex;
  justify-content: center;
}

.task-steps__form-button {
  margin-left: 0.5em;
}

.task-steps__header {
  display: flex;
}

.task-steps__header h4 {
  flex: 1;
}

.task-steps__completed {
  margin-right: 0.5em;
  color: var(--clr-sec3);
}
