.create-task-form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

@media screen and (max-width: 600px) {
  .create-task-form {
    padding: 1em 0.25em;
  }
}

.create-task-form--bordered {
  border: 1px solid var(--clr-gray5);
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
}

.create-task-form--single-field .create-task-form__content {
  display: flex;
  align-items: center;
}

.create-task-form--single-field .create-task-form__content .button,
.create-task-form--single-field .create-task-form__content .loading-button {
  margin-left: 0.5em;
}
