.create-task-form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.create-task-form--bordered {
  border: 1px solid var(--clr-gray7);
  border-radius: 0.5em;
}

.create-task-form--vertical-margin {
  margin: 1em 0;
}
