:root {
  --clr-gray1: #ffffff;
  --clr-gray2: #ebebeb;
  --clr-gray3: #d4d4d4;
  --clr-gray4: #b8b8b8;
  --clr-gray5: #8b8b8b;
  --clr-gray6: #5d5d5d;
  --clr-gray7: #4b4b4b;
  --clr-gray8: #3d3d3d;
  --clr-gray9: #2b2b2b;

  --clr-prim1: #bbdefb;
  --clr-prim2: #64b5f6;
  --clr-prim3: #2597f5;
  --clr-prim4: #1976d2;
  --clr-prim5: #083c8b;

  --clr-sec1: #ffccbc;
  --clr-sec2: #ff8a65;
  --clr-sec3: #ff5722;
  --clr-sec4: #e64a19;
  --clr-sec5: #bf360c;

  --clr-err1: #ffcdd2;
  --clr-err2: #e57373;
  --clr-err3: #f44336;
  --clr-err4: #d32f2f;
  --clr-err5: #b71c1c;

  --clr-war1: #fff8be;
  --clr-war2: #fff176;
  --clr-war3: #ffeb3b;
  --clr-war4: #fbc02d;
  --clr-war5: #f57f17;

  --clr-suc1: #c8e6c9;
  --clr-suc2: #81c784;
  --clr-suc3: #4caf50;
  --clr-suc4: #388e3c;
  --clr-suc5: #1b5e20;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
div,
input,
textarea {
  color: var(--clr-gray1);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
}

body,
body * {
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--clr-gray9);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-gray8);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-gray5);
}
