.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.75em;
}

.icon-button:hover {
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.075);
}

.icon-button:active {
  color: var(--clr-prim3);
  background-color: rgba(0, 0, 0, 0.025);
}

.icon-button__icon {
  vertical-align: middle;
  color: var(--clr-gray2);
}

.icon-button:disabled .icon-button__icon {
  color: var(--clr-gray5);
}

.icon-button:hover .icon-button__icon {
  color: var(--clr-gray3);
}

.icon-button:disabled:hover {
  background-color: transparent;
  cursor: default;
}

.icon-button:disabled:active {
  color: var(--clr-gray4);
}

.icon-button__icon--success {
  color: var(--clr-suc2);
}
