.accordion {
  margin: 1em 0;
  padding: 0.25em 0;
  border-bottom: 1px solid var(--clr-gray5);
}

.accordion__label {
  cursor: pointer;
  border-left: 3px solid transparent;
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-left: 3px solid var(--clr-gray5);
}

.accordion--primary .accordion__label {
  border-left: 3px solid var(--clr-prim2);
}

.accordion--warning .accordion__label {
  border-left: 3px solid var(--clr-sec2);
}

.accordion__label h2 {
  padding: 0;
}

.accordion__label[aria-expanded="false"] {
  border-color: transparent;
}

.accordion__label:hover,
.accordion__label[aria-expanded="false"]:hover {
  border-left: 3px solid var(--clr-gray5);
  background: var(--clr-gray7);
}

.accordion--primary .accordion__label:hover,
.accordion--primary .accordion__label[aria-expanded="false"]:hover {
  border-left: 3px solid var(--clr-prim2);
}

.accordion--warning .accordion__label:hover,
.accordion--warning .accordion__label[aria-expanded="false"]:hover {
  border-left: 3px solid var(--clr-sec2);
}

.accordion__header {
  font-size: 1.15em;
  font-weight: normal;
  padding-bottom: 0.5em;
}

.accordion--primary .accordion__header {
  color: var(--clr-prim2);
}

.accordion--warning .accordion__header {
  color: var(--clr-sec2);
}

.accordion__label[aria-expanded="true"] .accordion__icon {
  transform: rotate(90deg);
}

.accordion__icon {
  transition: all 0.2s ease-in;
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 0.2em;
}

.accordion__content {
  margin: 0.25em 0;
  padding: 0.1em 0;
  overflow: auto;
  max-height: 9999px;
  transition: max-height 0.75s ease-in-out;
}

.accordion__content[aria-expanded="false"] {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
