.accordion {
  margin-bottom: 0.75em;
}

.accordion__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid var(--clr-gray5);
  height: 2.25em;
  user-select: none;
}

.accordion__header {
  padding-bottom: 0.2em;
}

.accordion__header--primary {
  color: var(--clr-prim4);
}

.accordion__header--warning {
  color: var(--clr-sec4);
}

.accordion__icon {
  transition: all 0.2s ease-in;
  font-size: 1.5em;
}

.accordion--hidden .accordion__icon {
  transform: rotate(180deg);
}

.accordion__content {
  margin: 0.25em;
  padding: 0.1em;
  transition: all 0.15s ease-in;
}

.accordion--hidden .accordion__content,
.accordion--hidden .accordion__content * {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: all 0.15s ease-in;
}
