.create-project-form {
  margin-bottom: 0.75em;
  border: 1px solid var(--clr-gray5);
  padding: 1em;
  border-radius: 0.5em;
}

.create-project-form__fields {
  display: flex;
}

.create-project-form .button,
.create-project-form .loading-button {
  margin-left: 0.5em;
}
