.create-project-form {
  margin: 1em 0;
  border: 1px solid var(--clr-gray7);
  padding: 0.5em;
  border-radius: 0.5em;
}

.create-project-form__button {
  margin-top: 1em;
}

@media screen and (max-width: 600px) {
  .create-project-form__button {
    display: flex;
    justify-content: center;
  }
}
